<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{classpath:static/style.css}" rel="stylesheet" />
</head>
<body>

<div>
    <div>
        <div th:replace="header :: content"></div>
        <h1>Қужат №<span th:text="${counter}"></span> <span th:text="${datetime}"></span></h1>
        <p><b>Атауы: </b><i><span th:text="${compare_param}"></span> бойынша мамандыктарды саластыру
            <br></br>
            (<span th:text="${vuz1_name}"></span> жане <span th:text="${vuz2_name}"></span>)</i></p>
        <p><b>Тапсырыс беруши: </b><span th:text="${firstname}"></span> <span th:text="${lastname}"></span></p>
        <p>Барлық мамандыктардың саны <span th:text="${vuz1_name}"></span>: <span th:text="${vuz1_total}"></span></p>
        <p>Барлық мамандыктардың саны <span th:text="${vuz2_name}"></span>: <span th:text="${vuz2_total}"></span></p>
        <p>Ортақ мамандыктардың саны <span th:text="${compare_param}"></span>: <span th:text="${common_total}"></span></p>
        <table class="students_table paginate-table">
            <thead>
            <tr>
                <th>Айырмашылығы бар <span th:text="${vuz1_name}"></span></th>
                <th>Ортақ <span th:text="${vuz1_name}"></span></th>
                <th>Ортақ <span th:text="${vuz2_name}"></span></th>
                <th>Айырмашылығы бар <span th:text="${vuz2_name}"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list:${array}">
                <td th:text="${list[0]}"></td>
                <td th:text="${list[1]}"></td>
                <td th:text="${list[2]}"></td>
                <td th:text="${list[3]}"></td>
            </tr>
            <tr>
                <td>Всего: <span th:text="${vuz1_total}-${common_total}"></span></td>
                <td>Всего: <span th:text="${common_total}"></span></td>
                <td>Всего: <span th:text="${common_total}"></span></td>
                <td>Всего: <span th:text="${vuz2_total}-${common_total}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>